body {
  font-family: helvetica, arial, sans-serif;
  font-size: 1em;
  margin: 0;
  padding: 0;
}

.container {
  width: 100%;
}

main,
footer {
  padding: 0 15px;
}

#logo {
  text-align: center;
}
#logo a {
  color: white;
}

header {
  background-color: #263248;
}

header h1 {
  margin: 0;
}

nav ul {
  list-style: none;
  padding-left: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
}

nav ul li {
  border-bottom: 1px solid #ccc;
  padding: 5px;
}
nav ul li:last-child {
  border-bottom: unset;
}

nav ul li a {
  display: inline-block;
  width: 100%;
  font-weight: bold;
  text-decoration: none;
  color: #fff;
  padding: 8px 0;
}
section {
  width: 100%;
}
section img {
  width: 100%;
  height: auto;
}

.left-float {
  float: left;
  padding: 0 15px 15px 0;
  width: 50%;
}

form {
  display: grid;
  grid-template-columns: 1fr;
  gap: 0.8em;
}
form > div {
  display: flex;
  flex-direction: column;
  gap: 0.3em;
  width: 100%;
}

label {
  display: block;
}
input, textarea, select {
  padding: 0.6em 0.8em;
  font-size: 1rem;
  line-height: 1.05;
  border-radius: 0.6rem;
  border: 1px solid #263248;
}
textarea {
  font-family: inherit;
  min-height: 70px;
}
.submitContainer {
  display: flex;
  flex-direction: row;
}

footer {
  border-top: 1px solid #ccc;
  margin: 20px 10px 10px 0;
  font-size: 0.8em;
  text-align: center;
  font-style: italic;
}